:root {
  /* original logo color #9ccc51; */
  --color-primary: #8ab53b;
  --color-background: #f9fcfb;
  --color-secondary: #b53b4d;
  --color-light-black: #272a2d;
  --color-gray: #afafaf;
  --color-hover: #afd86e;

  --font-sans: "Red Hat Text", "Arial", "Helvetica", sans-serif;
  --font-serif: "serif";
  --font-link: "Arial", "Helvetica", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  box-sizing: inherit;
}
body {
  background-color: var(--color-background);
  font-family: var(--font-sans);
}
a,
a:link,
a:visited {
  text-decoration: none;
}
/* ///////////////////////////////////////// */
/* utils */
/* ///////////////////////////////////////// */
.green-text {
  color: var(--color-primary);
}
.bold {
  font-weight: 600;
}
.italic {
  font-style: italic;
}
.h2-heading {
  font-size: 4rem;
}
.text-center {
  text-align: center;
}
.mt-8 {
  margin-top: 8rem;
}
.mt-15 {
  margin-top: 15rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.button-cta {
  background-color: var(--color-primary);
  color: #fff;
  width: max-content;
  padding: 1rem 2.5rem;
  font-size: 2rem;
  border: 2px solid var(--color-primary);
  margin-top: 2rem;
  transition: all 0.2s;
}
.button-cta:hover {
  cursor: pointer;
  color: var(--color-primary);
  background-color: transparent;
}
.button-cta a {
  color: #fff;
  transition: color 0.2s;
}
.button-cta:hover a {
  color: var(--color-primary);
}
.button-cta:focus {
  outline: none;
}
/* ///////////////////////////////////////// */
/* navbar */
/* ///////////////////////////////////////// */
.header {
  height: 7rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: var(--color-background);
  z-index: 500;
  box-shadow: 0 2px 8px rgba(0,0,0,.26);
  /* grid-template-columns: 60% 1fr 33rem; */
  /* background-color: var(--color-background); */
}

.new-logo {
  margin-left: 2rem;
  height: 35px;
}
.navbar__ul {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
}
.navbar__li {
  margin-left: 5rem;
}
.logo {
  grid-column: 1;
  height: 3rem;
}
.navbar__a,
.navbar__a:link,
.navbar__a:visited {
  color: var(--color-primary);
  font-size: 1.6rem;
  text-decoration: none;
  font-family: var(--font-link);
  transition: color 0.2s;
}
.navbar__a:hover,
.navbar__a:link:hover,
.navbar__a:visited:hover {
  color: var(--color-hover);
}
.actions-flex-container {
  grid-column: 3;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-family: var(--font-link);
}
.actions__flex-item {
  margin-right: 3rem;
}
.actions__a {
  text-decoration: none;
  color: var(--color-primary);
  transition: color 0.2s;
}
.actions__a:link:hover,
.actions__a:hover,
.actions__a:visited:hover {
  color: var(--color-hover);
}
.actions__btn-a {
  color: #fff;
  transition: color 0.2s;
}
.actions__btn {
  background-color: var(--color-secondary);
  width: 12rem;
  padding-top: .7rem;
  padding-bottom: .7rem;
  font-size: 1.6rem;
  border: 2px solid var(--color-secondary);
  transition: color 0.2s;
}
.actions__btn:hover {
  cursor: pointer;
  background-color: transparent;
}
.actions__btn:hover .actions__btn-a {
  color: var(--color-secondary);
}
/* ///////////////////////////////////////// */
/* responsive nav */
/* ///////////////////////////////////////// */
.mobile-wrap {
  display: none;
  position: fixed;
  top: 0.5rem;
  right: 1.5rem;
  z-index: 5;
}
.mobile-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}
.mobile-wrap .toggler:hover + .hamburger > div,
.mobile-wrap .toggler:hover + .hamburger > div:before,
.mobile-wrap .toggler:hover + .hamburger > div:after {
  background-color: var(--color-hover);
}
.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  width: 60px;
  height: 60px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-self: center;
}
/* create middle hamburger line in empty div */
.hamburger > div {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
/* put the pseudo elements 10px above original line */
.hamburger > div:before,
.hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 5;
  top: -12px;
  width: 100%;
  height: 3px;
  background-color: var(--color-primary);
  transition: all 0.4s ease;
}
/* move the after pseudo element down 10px */
.hamburger > div:after {
  top: 12px;
}
/* animate the hamburger on toggler checked */
.mobile-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
/* turn lines into X */
.mobile-wrap .toggler:checked + .hamburger > div:before,
.mobile-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
.mobile-wrap .side-drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  transform: translateY(-100%);
  transition: all 0.5s ease-out;
  height: max-content;
  visibility: hidden;
  overflow: scroll;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
.mobile-logo {
  display: none;
}
.side-drawer-content {
  display: flex;
  flex-direction: column;
}
.side-drawer-a,
.side-drawer-a:link,
.side-drawer-a:visited {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 2.5rem;
  transition: color 0.2s;
  margin-bottom: 4rem;
  display: block;
  font-family: var(--font-link);
  width: max-content;
}
.side-drawer-a:hover,
.side-drawer-a:link:hover,
.side-drawer-a:visited:hover {
  color: var(--color-hover);
}
/* show menu */
.mobile-wrap .toggler:checked ~ .side-drawer {
  visibility: visible;
  transform: translateY(0%);
}
video {
  display: block;
  margin: 0 auto;
  width: 60rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: 12rem;
}
@media only screen and (max-width: 1150px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 1000px) {
  .header {
    display: none;
  }
  .mobile-wrap {
    display: flex;
    width: 100vw;
    height: 8rem;
  }
  .mobile-logo-container {
    width: 90vw;
    margin: 0 auto;
  }
  .mobile-logo {
    margin-top: 1.5rem;
    display: block;
    position: absolute;
  }
}
@media only screen and (max-width: 500px) {
  .mobile-wrap .side-drawer {
    width: 100vw;
  }

  video {
    width: 95%;
  }
}
@media only screen and (max-width: 500px) {
  .mobile-logo {
    margin-bottom: 4rem;
    transform: scale(0.9) translateX(-5%);
  }
}
/* ///////////////////////////////////////// */
/* side drawer */
/* ///////////////////////////////////////// */
.side-drawer-content {
  margin-left: 5rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
.side-drawer-logo {
  height: 48px;
  width: min-content;
  margin-bottom: 2rem;
}
.side-drawer-login {
  background-color: var(--color-primary);
  color: #fff;
  width: 15rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  border: 2px solid var(--color-primary);
  margin-right: 3rem;
  margin-bottom: 4rem;
  transition: color 0.2s;
}
.side-drawer-login:hover {
  cursor: pointer;
  color: var(--color-primary);
  background-color: transparent;
}
.side-drawer-login a {
  color: #fff;
  transition: color 0.2s;
}
.side-drawer-login:hover a {
  color: var(--color-primary);
}

.side-drawer-apply {
  background-color: var(--color-secondary);
  color: #fff;
  width: 15rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  border: 2px solid var(--color-secondary);
  margin-top: 2rem;
  margin-bottom: 4rem;
  transition: color 0.2s;
}
.side-drawer-apply:hover {
  cursor: pointer;
  color: var(--color-secondary);
  background-color: transparent;
}
.side-drawer-apply a {
  color: #fff;
  transition: color 0.2s;
}
.side-drawer-apply:hover a {
  color: var(--color-secondary);
}
.side-drawer-ul {
  list-style: none;
}
@media only screen and (max-width: 350px) {
  .side-drawer-logo {
    transform: scale(0.75) translateX(-12.5%);
  }
  .side-drawer-login {
    margin-right: 3rem;
  }
  .side-drawer-content {
    margin-left: 3rem;
  }
}
/* ///////////////////////////////////////// */
/* small hero */
/* ///////////////////////////////////////// */
.small-hero {
  max-width: 1100px;
  margin: 0 auto;
  /* margin-top: -7rem; */
  /* height: calc(50vh - 7rem); */
  height: 50vh;
  display: grid;
  align-items: center;
}
.small-hero-background {
  height: 50vh;
  /* height: calc(50vh - 7rem); */
  width: 100vw;
  background-color: white;
  background-image: url("../images/kitchen3.jpg");
  background-size: cover;
  background-blend-mode: luminosity;
  background-position: bottom;
  opacity: 0.1;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}
.small-hero-heading {
  font-size: 6rem;
  color: var(--color-primary);
  max-width: max-content;
  text-align: center;
  margin: 0 auto;
  transform: translateY(1.8rem);
  padding-left: 3rem;
  padding-right: 3rem;
}
@media (orientation: portrait) {
  .small-hero {
    height: 40vh;
    margin-top: 0rem;
  }
  .small-hero-background {
    height: 40vh;
  }
}
@media only screen and (max-width: 600px) {
  .small-hero-heading {
    font-size: 4.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
/* ///////////////////////////////////////// */
/* story section */
/* ///////////////////////////////////////// */
.story {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 50% 1fr;
  height: 50rem;
  margin-top: 15rem;
  margin-bottom: 15rem;
  background-color: #f2f4f3;
}
.story-image {
  grid-row: 1;
  grid-column: 1;
  object-fit: contain;
  height: 100%;
  width: 100%;
  padding: 5rem 10rem;
}
.story-content {
  padding-top: 5rem;
  padding-right: 10rem;
}
.story-heading {
  font-size: 4rem;
}
.story-text {
  font-size: 1.6rem;
  padding-top: 2rem;
}
.story-cta {
  background-color: var(--color-primary);
  color: #fff;
  width: max-content;
  padding: 1rem 2.5rem;
  font-size: 2rem;
  border: 2px solid var(--color-primary);
  margin-top: 3rem;
  color: #fff;
  transition: all 0.2s;
}
.story-cta:hover {
  cursor: pointer;
  background-color: transparent;
  color: var(--color-primary);
}
.story-cta:focus {
  outline: none;
}

@media only screen and (max-width: 950px) {
  .story-content {
    padding-top: 5rem;
    padding-right: 3rem;
  }
  .story-image {
    padding: 3rem 5rem;
  }
}
@media only screen and (max-width: 840px) {
  .story {
    display: flex;
    flex-direction: column;
    height: max-content;
    margin-top: 8rem;
    margin-bottom: 0rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .story-image {
    max-width: 600px;
    margin: 0 auto;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 3rem;
    padding-bottom: 0rem;
  }
  .story-content {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 0rem;
    padding-bottom: 5rem;
  }
}
@media only screen and (max-width: 600px) {
  .story {
    margin-top: 5rem;
  }
  .story-image {
    padding-top: 0rem;
  }
}
/* ///////////////////////////////////////// */
/* footer */
/* ///////////////////////////////////////// */
.footer {
  background-color: var(--color-light-black);
  color: #fff;
  font-size: 1.4rem;
}
.footer-content-container {
  padding-top: 4rem;
  max-width: 1100px;
  margin: 0 auto;
}
.footer-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 5rem;
  padding-right: 5rem;
}
.column-contact {
  margin-right: 5rem;
}
.column-links {
  display: flex;
}
.column-about {
  margin-right: 5rem;
}
.footer-heading {
  font-size: 1.6rem;
  color: var(--color-gray);
  margin-bottom: 1rem;
}
.phone {
  font-size: 3.5rem;
  font-weight: 800;
}
.hours {
  margin-bottom: 3rem;
}

.column-about {
  grid-row: 2;
  grid-column: 2;
  justify-self: center;
}
.footer-ul {
  list-style: none;
}
.footer-ul li {
  margin-bottom: 1rem;
}
.footer-a,
.footer-a:link,
.footer-a:visited {
  color: var(--color-primary);
}
.footer-a:hover,
.footer-a:link:hover,
.footer-a:visited:hover {
  color: var(--color-hover);
}
.column-quick-links {
  grid-row: 2;
  grid-column: 3;
  justify-self: center;
  margin-left: 3rem;
}

.bottom-row {
  margin-top: 2rem;
  padding-bottom: 4rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.footer-bottom-content {
  max-width: 70%;
  height: max-content;
  margin: 0 auto;
  padding-left: 5rem;
  padding-right: 5rem;
}

.footer-hr {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.bottom-row-flex {
  display: flex;
  justify-content: space-between;
}
.legal-links a {
  margin-left: 4rem;
}
@media only screen and (max-width: 600px) {
  /* .footer-flex-container {
    flex-direction: column;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
  } */
  .bottom-row-flex {
    flex-direction: column;
  }
  .legal-links a {
    margin-left: 0rem;
    margin-right: 4rem;
    margin-top: 1rem;
  }
}
