/* ///////////////////////////////////////// */
/* faq body */
/* ///////////////////////////////////////// */
.faq-body {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom: 10rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.faq-question {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--color-secondary);
  margin-bottom: 1rem;
}
.faq-answer {
  font-size: 1.6rem;
  line-height: 2.5rem;
  margin-bottom: 5rem;
}
.faq-link,
.faq-link:link,
.faq-link:visited {
  text-decoration: none;
  color: var(--color-secondary);
}
.faq-link:hover,
.faq-link:link:hover,
.faq-link:visited:hover {
  text-decoration: underline;
}
@media (orientation: portrait) {
  .faq-body {
    margin-top: 10rem;
  }
}
@media only screen and (max-width: 500px) {
  .faq-body {
    margin-top: 7rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .faq-question {
    font-size: 2rem;
  }
}

